* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

header {
  background-image: url(./images/bg-header-desktop.png);
  background-position: center;
  background-size: cover;
}

.container1 {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  padding: 15rem 0 5rem;
}

h1 {
  font-size: 3rem;
  padding: 3rem 0;
}

p {
  font-size: 1.5rem;
}

.btns {
  padding: 4rem 0;
}

.btns button {
  padding: 1rem 2rem;
  width: 20rem;
  margin: 1rem 1rem;
  border-radius: 3rem;
  border: none;
  color: white;
  font-size: 1.4rem;
  transition: all 0.6s;
}

.btns button:hover {
  box-shadow: 0 0 5px black;
  cursor: pointer;
  font-size: 1.6rem;
}

.btn1 {
  background-color: rgb(51, 206, 190);
}

.btn2 {
  background-color: rgb(60, 82, 251);
}

.container2 {
  margin: 9rem 0;
}

.text1 {
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}

h2 {
  font-size: 2.5rem;
}

.details {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 4rem;
}

.img1 img {
  width: 100%;
  object-position: -5rem 0;
  object-fit: cover;
}

.text {
  padding: 0 4rem;
}

.text2 {
  padding: 3rem 5rem 0;
}

h3 {
  font-size: 2rem;
}

@media (max-width: 650px) {
  .btns button {
    width: auto;
  }

  .details {
    display: block;
  }

  .text1 {
    width: auto;
    margin: 2rem 1rem;
    border-top: 1px solid black;
  }

  .img1 img {
    object-position: center;
  }

  .text {
    padding: 3rem 2rem;
  }

  .text2 {
    padding: 2rem 0;
  }
}
